@import './tailwind.css';

.card {
  visibility: hidden;
}

.card-enter,
.card-appear {
  transform: translate3d(0, -400%, 0);
  visibility: hidden;
  transition: transform 100ms;
}

.card-enter-active,
.card-appear-active {
  transform: translate3d(0, -200%, 0);
  visibility: hidden;
  transition: transform 100ms;
}

.card-enter-done {
  transform: translate3d(0, 0, 0);
  transition: transform 1000ms;
}
