@import './tailwind.css';

.card {
  visibility: hidden;
}

.card-enter {
  /*position: absolute;*/
  /*top: 0;*/
  transform: translate3d(0, -500%, 0);
  visibility: hidden;
  /*outline: 10px solid purple;*/
  transition: transform 500ms;
}

.card-enter-active {
  /*transform: translate3d(0, -200%, 0);*/
  /*outline: 5px solid red;*/
  visibility: hidden;
  /*transition: transform 100ms;*/
}

.card-enter-done {
  /*animation: 3s ease 0s 1 normal none running slideInDown;*/
  transform: translate3d(0, 0, 0);
  transition: transform 1000ms;
  /*animation: ease;*/
}

/*.card-exit {*/
/*transform: translate3d(0, 100%, 0);*/
/*visibility: hidden;*/
/*background-color: green;*/
/*outline: 5px solid red;*/
/*transition: transform 200ms;*/
/*}*/

/*.card-exit-active {*/
/*  transform: translate3d(0, 300%, 0);*/
/*  transition: transform 200ms;*/
/*}*/
