@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Courier Prime';
    src: url('../assets/fonts/CourierPrime-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Courier Prime';
    src: url('../assets/fonts/CourierPrime-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Alfa Slab One';
    src: url('../assets/fonts/AlfaSlabOne-Regular.ttf') format('truetype');
  }

  body {
    @apply max-w-full;
    font-family: 'Courier Prime';
  }

  button {
    font-family: 'Alfa Slab One';
  }
}
